# ***Python Notes:***

In [2]:
# # Print Jay Kailashgiri Bapu
print('Bapu Ni Mauj')

Bapu Ni Mauj

In [3]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

In [4]:
# '='  is an assignment operator
x=5
print(x)

5

In [5]:
x

5

In [6]:
# Variable can't start with numbers
# No special chars except '_'
# They start with lower case numbers only (Upper class for class)

In [7]:
type(x)

int

In [8]:
type(x/2)

float

In [9]:
type(2j)

complex

In [10]:
2j*2j

(-4+0j)

In [11]:
"1"+'2'

'12'

In [12]:
# '==' is a statement

In [13]:
#list
my_list = ['Chandradeep',[1,2,3,4],'Apple','Banana','Apple']
my_set = {'Chandradeep','Apple','Banana','Apple'}
print(my_list)
print(my_set)

['Chandradeep', [1, 2, 3, 4], 'Apple', 'Banana', 'Apple']
{'Apple', 'Banana', 'Chandradeep'}

In [14]:
[1,2] == [2,1]

False

In [15]:
{1,2} == {2,1}

True

In [16]:
# list can have repeats
# set can have repeats, but only uniques will be considered
# set cannot have list
# list can have list
# order of elements does matter in lists, but not in case of sets
# tuples () are similar to list, but just that once declated the values of tuples cannot be modified - Tuples are memory efficient. So can be used for fixed length variables like x,y co-ordinates.
# Order also matters for tuples

In [17]:
# Dictionaries have unique Keys
my_dictionary  = {
    'Name': 'JKB',
    'Amount': 500
}
print(type(my_dictionary))

<class 'dict'>

In [18]:
print(my_dictionary['Name'])

JKB

In [19]:
print(len(my_dictionary))

2

In [20]:
#square is **
5**2

25

In [21]:
#division always returns a float value
a = 2/1
print (a)
type (a)

2.0

float

In [22]:
# Modulus gives remainder
20 % 6

2

In [23]:
# String multiplication is possible
" Chandradeep "*4

' Chandradeep  Chandradeep  Chandradeep  Chandradeep '

In [24]:
# Comparison Operators ( == > <)
# Logical Operators (and, or, not)
# Membership Operators (in not in)

In [25]:
True != False

True

In [26]:
# True can't be true and False can't be false
# Indentation matters
a = False
if a:
  print("Sitaram")
else:
  print('Om Nammah Shivay')
print('Ram Ram')

Om Nammah Shivay
Ram Ram

In [27]:
#print function returns None. None is a python keyword.
print(print()

SyntaxError: incomplete input (1785743210.py, line 2)

In [ ]:
len(123)

TypeError: object of type 'int' has no len()

In [ ]:
# int does not have len() function
def countlength(msisdn):
    return len(msisdn)

countlength('123456789')

9

In [ ]:
class Dog:
  def __init__(self,name):
    self.name = name
    self.legs = 4

  def speak(self):
    print("Bark!")

In [ ]:
first_dog = Dog("Tuffy")
second_dog = Dog("Tommy")
first_dog.name

'Tuffy'

In [ ]:
second_dog.name

'Tommy'

In [ ]:
first_dog.legs

4

In [ ]:
type('apple')

str

In [ ]:
# str, float, int, bool, list are all classes

In [ ]:
#Wierd rounding errors in python
round(1.2-1.101,3)

0.099

In [ ]:
int('100')

100

In [ ]:
# base 1000 of base 10, so what of 2? 10*10*10 = 1000, so 2*2*2 = 8
int('1000',2)

8

In [28]:
def factorial(num):
    if type(num) != int:
        return None
    if num < 0:
        return None
    if num == 0:
        return 1
    return num * factorial(num-1)

In [31]:
factorial(10)

3628800